* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
body {
    width: 100vw;
    height: 100vh;
    background-color: #121214;
    text-align: center;
    
    background-image: url(assets/bg-image.png);
    background-size: cover;
    
    display: flex;
    justify-content: center;

}
h1 {
    font-family: "Monomaniac One", sans-serif;
    font-weight: normal;
    letter-spacing: 20%;
    color: #4A5DCD;
    margin-top: 64px;
}
.values {
    width: 480px;
    height: 384px;
    background-color: #141534;
 
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
    border-radius: 1.5rem;
    border: solid 1px;
    border-color: #2F3279;
}
.values.conect {
    border-radius: 12px 12px 0 0;
}
label {
    text-align: left;
    font-family: "Inter", sans-serif;
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;
    color: #B2B8DE;
}
.convert {
    width: 352px;
    height: 52px;
    
    border: 1px solid #1F2151;
    border-radius: 8px;
    background-color: #0E0F25;
    
    outline: none;
    transition: border-color 0.2s ease;
    caret-color: #4A5DCD;

    padding: 0 16px;
    line-height: 52px;
    font-size: 16px;
    color: #B2B8DE;
   
}
.convert:focus{
    border-color: #4A5DCD;
}
.btn {
    font-family: "Inter", sans-serif;
    font-size: 16px;
    line-height: 20px;
    font-weight: 600;
    color: #F1F2F6;

    width: 352px;
    height: 52px;

    background-color: #2F34AB;
    border-radius: 8px;
    border-style: none;

    margin-top: 48px;
    margin-bottom: 56px;
}
.btn:hover {
    background-color: #4A5DCD;
}
.l-div {
    display: flex;
    flex-direction: column;
    margin-top: 44px;
}
footer {
    background-color: #1f2151;
    padding: 2.5rem;
    max-height: 196px;
    margin-top: 8px;

    text-align: center;
    display: none;
    border-radius: 12px;

    overflow-y: scroll;
}

.show-result {
    display: block;
}

footer span {
    color: #7d8dec;
    font-size: 1rem;
    font-family: "IBM Plex Mono", monospace;
    margin-bottom: 0.5rem;
    line-height: 1.25rem;
}

footer h2 {
    color: #f1f2f6;
    font-weight: 700;
    font-size: 2rem;
    line-height: 3rem;
    word-break: break-all;
}